body{
    background: linear-gradient(90deg, rgba(0,177,191,1) 0%, rgba(93,225,236,1) 0%, rgba(248,119,249,1) 100%, rgba(229,61,231,1) 100%);
    font-family: "Raleway", sans-serif;
    color: white;
}

p{
    font-weight: 500;
    margin-top: 5px;
    padding-bottom: 20px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 100px;
}

.retour-accueil{
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: overline underline;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balaclava{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.balaclava img{
    width: 100%;
}

.sac_duveteux{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sac_duveteux img{
    width: 100%;
}

.bob_bleu{
    display: flex;
    flex-direction: column;
    width: 25%
}

.bob_bleu img{
    width: 100%;
}

.bob_orange{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.bob_orange img{
    width: 100%;
}

.sac_tricot{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sac_tricot img{
    width: 100%;
}

.cardigan_gris{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.cardigan_gris img{
    width: 100%;
}

.cardigan_orange{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.cardigan_orange img{
    width: 100%;
}

.guetres{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.guetres img{
    width: 100%;
}

.baggy{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.baggy img {
    width: 100%;
}

.pantalon{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.pantalon img{
    width: 100%;
}

.pics{
    border-top: 35px solid white;
    border-right: 20px solid white;
    border-left: 20px solid white;
    border-bottom: 70px solid white;
}